<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <h1>let's navigate to the '/new'</h1>
  </body>
</html>
