<h1>Make your form here</h1>


<form action="/pirates" method="post">

  <label for="pirate[name]">Pirate Name</label>
  <input type="text" id="name" name="pirate[name]">

  <label for="pirate[weight]">Pirate Weight</label>
  <input type="integer" id="weight" name="pirate[weight]">

  <label for="pirate[height]">Pirate Height</label>
  <input type="integer" id="height" name="pirate[height]">


  <label for="ship_name_1">Ship Name</label>
  <input type="integer" id="ship_name_1" name="pirate[ships][][name]">

  <label for="ship_type_1">Ship Type</label>
  <input type="integer" id="ship_type_1" name="pirate[ships][][type]">

  <label for="ship_booty_1">Ship Booty</label>
  <input type="integer" id="ship_booty_1" name="pirate[ships][][booty]">


  <label for="ship_name_2">Ship Name</label>
  <input type="integer" id="ship_name_2" name="pirate[ships][][name]">

  <label for="ship_type_2">Ship Type</label>
  <input type="integer" id="ship_type_2" name="pirate[ships][][type]">

  <label for="ship_booty_2">Ship Booty</label>
  <input type="integer" id="ship_booty_2" name="pirate[ships][][booty]">

  <input type="submit" id="Submit">

</form>
