<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label for="pirate_name">Pirate Name:</label>
  <input type="text" name="pirate[name]" id="pirate_name"><br><br>
  <label for="pirate_weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]" id="pirate_weight"><br><br>
  <label for="pirate_height">Pirate Height:</label>
  <input type="text" name="pirate[height]" id="pirate_height"><br><br>

  <label for="ship_name_1">Ship Name:</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br><br>
  <label for="name">Ship Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br><br>
  <label for="name">Ship Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br><br>

  <label for="ship_name_2">Ship Name:</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br><br>
  <label for="name">Ship Type:</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br><br>
  <label for="name">Ship Booty:</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br><br>
  <input type="submit" value="Submit">
</form>
